// /* make the customizations */
// $theme-colors: (
//   'info': tomato,
//   'danger': teal
// );



/* import bootstrap to set changes */
@import 'bootstrap/scss/bootstrap';

body {}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.cardBox {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: flex-start;

  gap: 1rem;

}

.cardBoxTotal {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  align-items: flex-start;
  margin-top: 4rem;

  gap: 1rem;

  &>* {
    grid-column: 4/-1;

    @media screen and (max-width: 1400px) {
      grid-column: 3/-1;
    }


    @media screen and (max-width: 980px) {
      grid-column: 2/-1;
    }

    @media screen and (max-width: 768px) {
      grid-column: 1/-1;
    }
  }

}